* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: darkgray;
  color: whitesmoke;
  padding-bottom: 10px;
}
h1 {
  font-size: 60px;
}
nav {
  float: left;
  font-size: 20px;
}

div #time {
  position: right;
  padding: 200px;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(131, 11, 243);
  color: white;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  font-size: 1em;
}

button:hover {
  background-color: rgb(136, 57, 210);
}

.hide {
  display: none;
}

.gamecontainer {
  display: flex;
  flex-direction: column;
  border-style: dashed;
  border-radius: 10px;
  margin: auto;
  width: 800px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 0 10px 2px;
}

.gamenavigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
